stages:
   - style
   - test
   - deploy
   - relrease
pep8:
    stage: style
    script:
       - pip install tox
       - tox -e pep8
     tags:
        - python2.7
     execpt:
         - tags

unittest-py27:
    stage: test
    script:
       - pip install tox
       - tox -e py27
     tags:
        - python2.7
     execpt:
         - tags

unittest-py34:
    stage: test
    script:
       - pip install tox
       - tox -e py34
     tags:
        - python3.4
     execpt:
         - tags

docker-deploy:
    stage: deploy
    script:
       - docker build -t flask-demo
       - if [ $(docker ps -aq --filter name=web) ]; then docker rm  -f web; fi
       - docker run -d -p 5000:5000 --name web flask-demo
     tags:
        - demo
     only:
         - master
docker-image-release:
    stage: release
    script:
       - docker build -t registry.example.com:5000/flask-demo:$CI_COMMIT_TAG
       - docerk push registry.example.com:5000/flask-demo:$CI_COMMIT_TAG
     tags:
        - demo
     only:
         - tags